

@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css); 



mark {
	font-size: 16px !important;
	bottom: -2em;
	padding: 1em !important ;
	width: 100%;
	border: 1px solid gray !important ;
	background-color: white !important;
	color: gray;
}
.reveal pre {
	box-shadow: none;
}

li.folder {
	list-style-type: none;
}
li.folder:before {
	content: "\f114";
	font-family: 'FontAwesome';
	margin-right: 0.5em;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

li.file {
	list-style-type: none;
}
li.file:before {
	content: "\f15b";
	font-family: 'FontAwesome';
	margin-right: 0.5em;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
h1.white,
h2.white,
h3.white {
	color:#fdf6e3;
	text-shadow: 0 0 10px black;
}